.battle {
  position: absolute;
  overflow: hidden;
  z-index: 1000;
  height: 100%;
  min-height: -webkit-fill-available;
  width: 100vw;
  /* background-image: linear-gradient(to bottom, rgb(64, 194, 64) 60%, green 40%); */
  background-image: url("../media//background.png");
  background-repeat: no-repeat;
  background-size: 200% 100%;
  image-rendering: pixelated;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  animation: battle-appear 0.5s forwards cubic-bezier(0.645, 0.045, 0.355, 1);
}

.pokemon-info {
  width: 60vw;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 25px;
  height: 50px;
  position: absolute;
  left: 50%;
  top: -20%;
  --default-transform: translateX(-50%);
  animation: up-appear 2s forwards;
}

.battle-pokemon,
.pokemon-shadow {
  image-rendering: pixelated;
  /* width: 80vw;
  height: 50%; */
  width: var(--width);
  height: var(--height);
  background-image: var(--pokemon-sprite);
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -30%);
  /* filter: drop-shadow(15px 50px 0px black); */
}

.pokemon-shadow {
  transform: skewX(-20deg) scaleY(0.7) translate(-50%, -40%);
  z-index: -1;
  opacity: 0.2;
  filter: brightness(0);
  transition: opacity 200ms;
}

.pokemon-shadow[data-catching="true"] {
  opacity: 0;
}

.battle-pokeball-container {
  width: 150px;
  height: 150px;
}

.battle-pokeball {
  position: absolute;
  background-image: url("https://i.gifer.com/origin/28/2860d2d8c3a1e402e0fc8913cd92cd7a_w200.gif");
  width: 150px;
  height: 150px;
  background-size: 210px 210px;
  background-position: -25px -25px;
  image-rendering: pixelated;
  /* border-radius: 100%; */

  /* position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0); */
}

.battle-ui {
  width: 90vw;
  /* height: 40px; */
  /* position: absolute; */

  display: flex;
  justify-content: center;
  align-items: center;

  /* bottom: 6%; */
  /* left: 50%;
  transform: translate(-50%, 0); */
}

.battle-ui div:not(.battle-pokeball, .battle-pokeball-container),
.run-button {
  background-color: white;
  border-radius: 100%;

  width: 60px;
  height: 60px;
}

.run-button {
  width: 40px;
  height: 40px;
  align-self: flex-start;
  background-image: url("https://cdn-icons-png.flaticon.com/512/49/49878.png");
  background-size: 60% 60%;
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(25px, 25px);
}

@keyframes battle-appear {
  0% {
    /* filter: blur(1.2px); */
    transform: scale(0.2) perspective(7.3cm);
    opacity: 0;
  }

  25% {
    transform: scale(0.7);
  }

  100% {
    transform: scale(1);
    /* filter: blur(0); */
    opacity: 1;
  }
}

@keyframes up-appear {
  0% {
    transform: var(--default-transform) translateY(50px);
    opacity: 0;
  }
  50% {
    transform: var(--default-transform) translateY(50px);
    opacity: 0;
  }
  100% {
    transform: var(--default-transform) translateY(0px);
    opacity: 1;
  }
}

.pokeball-throw {
  animation: throw 400ms 2 linear;
  transition: all var(--transition-time) var(--ease-function) !important;
  transform: var(--scale);
  left: var(--left) !important;
  top: var(--top) !important;
}

/* @keyframes throw {
  0% {
    transform: rotate(0deg) var(--scale);
  }
  100% {
    transform: rotate(360deg) var(--scale);
  }
} */

.pokeball-open {
  background-image: url("http://pixelartmaker-data-78746291193.nyc3.digitaloceanspaces.com/image/e7cb1a05e60dd2e.png") !important;
  background-size: 100% 120%;
}

.pokemon-info {
  display: none;
}

.battle-pokemon[data-catching="true"] {
  animation: catchPokemon 2s 200ms ease-in-out;
}

@keyframes catchPokemon {
  0% {
    transform: translate(-50%, -30%) scale(1);
  }

  25% {
    filter: brightness(20);
    transform: translate(-50%, -30%) scale(1);
    opacity: 1;
  }

  70%,
  100% {
    filter: brightness(2000);
    opacity: 0;
    transform: translate(-50%, -60%) scale(0.2);
  }
}

.catch-container {
  position: absolute;
  overflow: hidden;
  z-index: 1000;
  width: 100vw;
  height: 100%;
  background-image: url("../media/background.png");
  background-repeat: no-repeat;
  background-size: 200% 140%;
  background-position: 60% 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  animation: backgroundZoomIn 7s 1s ease-in-out forwards;
}

.catch-pokeball {
  width: 50px;
  height: 50px;
  background-image: url("http://www.pokemongobrasil.com/wp-content/uploads/2015/09/cropped-favicon.png");
  background-size: 100% 100%;
  animation: catchPokeball 7s 1s forwards;
}

.catch-container > div {
  animation: zoomIn 7s ease-in-out forwards;
}

@keyframes catchPokeball {
  7%,
  25%,
  32%,
  50%,
  57%,
  75% {
    transform: rotate(0deg);
  }

  10%,
  35%,
  60% {
    transform: rotate(15deg);
  }
  13%,
  38%,
  63% {
    transform: rotate(-15deg);
  }

  85%,
  100% {
    filter: brightness(1);
  }
  90% {
    filter: brightness(1000);
  }
}

@keyframes backgroundZoomIn {
  0% {
    background-size: 200% 140%;
  }

  65% {
    background-size: 240% 180%;
  }

  100% {
    background-size: 240% 180%;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(1);
  }

  65% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1.2);
  }
}

.catch-modal {
  width: 90vw;
  height: 40%;
  position: absolute;
  z-index: 1001;
  background-color: white;

  left: 50%;
  top: 50%;
  bottom: 0;
  opacity: 0;
  animation: modal-appear 900ms 9s forwards;
}

@keyframes modal-appear {
  0% {
    bottom: 0;
    top: 100%;
    transform: translate(-50%, -0%);
    width: 10vw;
    opacity: 1;
  }

  50% {
    width: 10vw;
    opacity: 1;
  }

  100% {
    width: 90vw;
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}
