.battle {
  position: absolute;
  overflow: hidden;
  z-index: 1000;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to bottom, rgb(64, 194, 64) 60%, green 40%);

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  animation: battle-appear 1s forwards cubic-bezier(0.645, 0.045, 0.355, 1);
}

.pokemon-info {
  width: 60vw;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 25px;
  height: 50px;
  position: absolute;
  left: 50%;
  top: -20%;
  --default-transform: translateX(-50%);
  animation: up-appear 2s forwards;
}

.battle-pokemon {
  image-rendering: pixelated;
  /* width: 80vw;
  height: 50vh; */
  width: 80vw;
  height: 90vw;
  background-image: var(--pokemon-sprite);
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -30%);
}

.battle-pokeball {
  background-image: url("https://i.gifer.com/origin/28/2860d2d8c3a1e402e0fc8913cd92cd7a_w200.gif");
  width: 150px;
  height: 150px;
  background-size: cover;
  image-rendering: pixelated;

  /* position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0); */
}

.battle-ui {
  width: 90vw;
  /* height: 40px; */
  /* position: absolute; */

  display: flex;
  justify-content: space-between;
  align-items: center;

  /* bottom: 6%; */
  /* left: 50%;
  transform: translate(-50%, 0); */
}

.battle-ui div:not(.battle-pokeball),
.run-button {
  background-color: white;
  border-radius: 100%;

  width: 60px;
  height: 60px;
}

.run-button {
  width: 40px;
  height: 40px;
  align-self: flex-start;
  transform: translate(25px, 25px);
}

@keyframes battle-appear {
  0% {
    filter: blur(1.2px);
    transform: scale(2.2);
    opacity: 0;
  }

  25% {
    filter: blur(0);
    transform: scale(1.4);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    /* opacity: 1; */
  }
}

@keyframes up-appear {
  0% {
    transform: var(--default-transform) translateY(50px);
    opacity: 0;
  }
  50% {
    transform: var(--default-transform) translateY(50px);
    opacity: 0;
  }
  100% {
    transform: var(--default-transform) translateY(0px);
    opacity: 1;
  }
}
