body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* canvas {
  transform: scale(1.25) scaleY(0.9) rotate3d(-8, 6, 2, 20deg);
} */

.bottom-ui {
  z-index: 99;
  display: flex;
  position: absolute;
  bottom: 1%;
  width: 100%;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}

.pokeball {
  width: 50px;
  height: 50px;
  background-image: url("https://cdn-icons-png.flaticon.com/512/528/528101.png");
  background-size: cover;
  border-radius: 100%;
}

.weather {
  width: 40px;
  height: 40px;
  background-color: black;
  position: absolute;
  right: 0;
  z-index: 99;

  margin: 10px;
  border-radius: 100%;
}

.profile {
  /* bottom: 3%;
  left: 3%; */
  margin-left: 10px;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  background-color: black;
}
/* 
.pokemon-nearby,
.profile {
  z-index: 99;
  position: absolute;
} */

.pokemon-nearby {
  background-color: #fff;
  width: 100px;
  height: 35px;
  display: flex;
  justify-content: space-evenly;

  /* bottom: 6%;
  right: 0; */

  border-radius: 10px 0 0 10px;
}

.pokemon-nearby img {
  max-width: 30%;
  object-fit: contain;
  filter: brightness(0);
  image-rendering: pixelated;
}

.player {
  margin-top: -4rem;
  z-index: 99;
}

.player::after {
  bottom: 0;
  z-index: 1;
  left: 0px;
  width: 50px !important;
  height: 50px !important;
  animation-delay: 2s;
}

.pikomon-inner {
  z-index: 99;
  /* transform: scale(1.2); */
  transform: scale(2);
}

/* .pikomon::after, */
.player::after {
  content: " ";
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 100%;

  background-color: transparent;
  animation: ring-scale 5s cubic-bezier(0.175, 0.885, 0.32, 1) infinite;
}

@keyframes ring-scale {
  0% {
    transform: scale(0);
    border: 0px solid white;
  }

  75% {
    transform: scale(2);
    border: 0.2px solid white;
  }
  100% {
    transform: scale(2.5);
    border: 2px solid transparent;
  }
}
