.menu {
  /* top: 0;
  left: 0; */
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 100;

  animation: appear 200ms ease-in-out;
}

.menu ul {
  list-style-type: none;

  display: flex;
  overflow-y: scroll;

  height: 75vh;
  padding: 0;
}

.pokemon-list ul {
  gap: 1%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.pokemon-list ul li {
  width: 25%;
  height: 25vw;
  margin-top: 4.5%;
  background-color: grey;
}

.bag-list ul {
  flex-direction: column;
  align-items: center;
}
.bag-list ul li {
  margin-top: 4.5%;
  width: 90vw;
  min-height: 100px;
  background-color: grey;
}

.close-button {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: black;
  margin: auto;
}

@keyframes appear {
  0% {
    transform: scaleY(0.9) translateY(25px);
    opacity: 0;
  }

  100% {
    transform: scaleY(1) translateY(0px);
    opacity: 1;
  }
}
