.close-button {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: black;
  margin: auto;
}

@keyframes appear {
  0% {
    transform: scaleY(0.9) translateY(25px);
    opacity: 0;
  }

  100% {
    transform: scaleY(1) translateY(0px);
    opacity: 1;
  }
}
